<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="UploadUrl" value="http://10.170.6.40:31555/s3/files/upload/bytes" />
    <add key="BucketName" value="pic-epoxy-inspection" />
    <add key="DirectoryToWatch" value="C:\EpoxyInsp" />
    <add key="LogUrl" value="http://localhost:8078/im/db/oracle/aa/glue/log" />
	<!-- 心跳服务器的 URL，请替换为实际地址 -->
	<add key="HeartbeatUrl" value="http://localhost:8078/im/db/oracle/aa/glue/heartbeat"/>
	<!-- 心跳发送间隔，单位为毫秒，这里设置为60000，即1分钟 -->
	 <add key="KafkaServers" value="10.170.6.24:9092,10.170.6.25:9092,10.170.6.26:9092" />
	 <add key="KafkaTopicAaGlueLogs" value="aa_glue_images_logs"/>
	 <add key="KafkaTopicHeartbeat" value="aa_glue_heartbeat" />
	 <add key="HeartbeatInterval" value="60000" /> <!-- 心跳间隔 -->
  </appSettings>
  <connectionStrings>
    <add name="AaGlueLogDb" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.170.6.144)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=qtechIm)));User Id=imBiz;Password=M5F5JkfnQ;Pooling=true;Min Pool Size=3;Max Pool Size=5;Connection Lifetime=120;"
       providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>